USE [master]
GO
/****** Object:  Database [IEFI Mascotas]    Script Date: 17/11/2023 1:34:38 ******/
CREATE DATABASE [IEFI Mascotas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mascotas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Mascotas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mascotas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Mascotas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IEFI Mascotas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IEFI Mascotas]
GO
/****** Object:  Table [dbo].[Animales]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animales](
	[Id_Animal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[FechaBaja] [datetime] NULL,
 CONSTRAINT [PK_Animales] PRIMARY KEY CLUSTERED 
(
	[Id_Animal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vistaAnimales]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vistaAnimales]
AS
SELECT Animales.Id_Animal, Animales.Nombre AS Animal
FROM Animales
WHERE Animales.FechaBaja IS NULL
GO
/****** Object:  Table [dbo].[Razas]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Razas](
	[Id_Raza] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Id_Animal] [int] NULL,
	[FechaBaja] [datetime] NULL,
 CONSTRAINT [PK_Razas] PRIMARY KEY CLUSTERED 
(
	[Id_Raza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vistaRazas]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vistaRazas]
AS
SELECT Razas.Id_Raza, Razas.Nombre AS Nombre, Animales.Nombre AS Animal
FROM Razas
INNER JOIN Animales ON Razas.Id_Animal = Animales.Id_Animal
WHERE Razas.FechaBaja IS NULL
GO
/****** Object:  Table [dbo].[Mascotas]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascotas](
	[Id_Mascota] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apodo] [varchar](50) NULL,
	[NombreDueño] [varchar](50) NULL,
	[Id_Raza] [int] NULL,
	[FechaBaja] [datetime] NULL,
 CONSTRAINT [PK_Mascotas] PRIMARY KEY CLUSTERED 
(
	[Id_Mascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vistaMascotas]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vistaMascotas]
AS
SELECT Mascotas.Id_Mascota, Mascotas.Nombre, Mascotas.Apodo, Mascotas.NombreDueño AS Dueño, Razas.Nombre AS Raza
FROM Mascotas
INNER JOIN Razas ON Mascotas.Id_Raza = Razas.Id_Raza
WHERE Mascotas.FechaBaja IS NULL
GO
SET IDENTITY_INSERT [dbo].[Animales] ON 

INSERT [dbo].[Animales] ([Id_Animal], [Nombre], [FechaBaja]) VALUES (1, N'Perro', NULL)
INSERT [dbo].[Animales] ([Id_Animal], [Nombre], [FechaBaja]) VALUES (2, N'Gato', NULL)
INSERT [dbo].[Animales] ([Id_Animal], [Nombre], [FechaBaja]) VALUES (3, N'Hamster', NULL)
SET IDENTITY_INSERT [dbo].[Animales] OFF
GO
SET IDENTITY_INSERT [dbo].[Mascotas] ON 

INSERT [dbo].[Mascotas] ([Id_Mascota], [Nombre], [Apodo], [NombreDueño], [Id_Raza], [FechaBaja]) VALUES (1, N'Max', N'Maxie', N'Juan', 2, NULL)
INSERT [dbo].[Mascotas] ([Id_Mascota], [Nombre], [Apodo], [NombreDueño], [Id_Raza], [FechaBaja]) VALUES (2, N'Bella', N'Bellona', N'María', 1, NULL)
INSERT [dbo].[Mascotas] ([Id_Mascota], [Nombre], [Apodo], [NombreDueño], [Id_Raza], [FechaBaja]) VALUES (3, N'Rocky', N'Roco', N'Carlos', 4, NULL)
SET IDENTITY_INSERT [dbo].[Mascotas] OFF
GO
SET IDENTITY_INSERT [dbo].[Razas] ON 

INSERT [dbo].[Razas] ([Id_Raza], [Nombre], [Id_Animal], [FechaBaja]) VALUES (1, N'Bulldog Francés', 1, NULL)
INSERT [dbo].[Razas] ([Id_Raza], [Nombre], [Id_Animal], [FechaBaja]) VALUES (2, N'Labrador Retriever', 1, NULL)
INSERT [dbo].[Razas] ([Id_Raza], [Nombre], [Id_Animal], [FechaBaja]) VALUES (3, N'Pastor Alemán', 1, NULL)
SET IDENTITY_INSERT [dbo].[Razas] OFF
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD  CONSTRAINT [FK_Mascotas_Razas] FOREIGN KEY([Id_Raza])
REFERENCES [dbo].[Razas] ([Id_Raza])
GO
ALTER TABLE [dbo].[Mascotas] CHECK CONSTRAINT [FK_Mascotas_Razas]
GO
ALTER TABLE [dbo].[Razas]  WITH CHECK ADD  CONSTRAINT [FK_Razas_Animales] FOREIGN KEY([Id_Animal])
REFERENCES [dbo].[Animales] ([Id_Animal])
GO
ALTER TABLE [dbo].[Razas] CHECK CONSTRAINT [FK_Razas_Animales]
GO
/****** Object:  StoredProcedure [dbo].[AgregarAnimal]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarAnimal]
@Nombre VARCHAR(50)
AS
INSERT INTO Animales (Nombre)
VALUES (@Nombre)
GO
/****** Object:  StoredProcedure [dbo].[AgregarMascota]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarMascota]
@Nombre VARCHAR(50),
@Apodo VARCHAR(50),
@NombreDueño VARCHAR(50),
@id_Raza INT
AS
INSERT INTO Mascotas (Nombre, Apodo, NombreDueño, Id_Raza)
VALUES (@Nombre, @Apodo, @NombreDueño, @id_Raza)
GO
/****** Object:  StoredProcedure [dbo].[AgregarRaza]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarRaza]
@Nombre VARCHAR(50),
@id_Animal INT
AS
INSERT INTO Razas (Nombre, Id_Animal)
VALUES (@Nombre, @id_Animal)
GO
/****** Object:  StoredProcedure [dbo].[eliminarAnimal]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarAnimal]
@id_Animal INT
AS
UPDATE Animales
SET FechaBaja = GETDATE()
WHERE Id_Animal = @Id_Animal
GO
/****** Object:  StoredProcedure [dbo].[eliminarMascota]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarMascota]
@id_Mascota INT
AS
UPDATE Mascotas
SET FechaBaja = GETDATE()
WHERE Id_Mascota = @id_Mascota
GO
/****** Object:  StoredProcedure [dbo].[eliminarRaza]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarRaza]
@id_Raza INT
AS
UPDATE Razas
SET FechaBaja = GETDATE()
WHERE Id_Raza = @id_Raza
GO
/****** Object:  StoredProcedure [dbo].[modificarAnimal]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[modificarAnimal]
@id_Animal INT,
@Nombre VARCHAR(50)
AS
UPDATE Animales SET
Nombre = @Nombre
WHERE Id_Animal = @id_Animal
GO
/****** Object:  StoredProcedure [dbo].[modificarMascota]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[modificarMascota]
@id_Mascota INT,
@Nombre VARCHAR(50),
@Apodo VARCHAR(50),
@NombreDueño VARCHAR(50),
@id_Raza INT
AS
UPDATE Mascotas SET
Nombre = @Nombre,
Apodo = @Apodo,
NombreDueño = @NombreDueño,
id_Raza = @id_Raza
WHERE Id_Mascota = @id_Mascota
GO
/****** Object:  StoredProcedure [dbo].[modificarRaza]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[modificarRaza]
@id_Raza INT,
@Nombre VARCHAR(50),
@id_Animal INT
AS
UPDATE Razas SET
Nombre = @Nombre,
Id_Animal = @id_Animal
WHERE id_Raza = @id_Raza
GO
/****** Object:  StoredProcedure [dbo].[seleccionarAnimal]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[seleccionarAnimal]
@Animal VARCHAR(50)
AS
SELECT * FROM vistaAnimales
WHERE Animal LIKE '%' + @Animal + '%'
GO
/****** Object:  StoredProcedure [dbo].[seleccionarMascota]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[seleccionarMascota]
@Dueño VARCHAR(50)
AS
SELECT * FROM vistaMascotas
WHERE Dueño LIKE '%' + @Dueño + '%'
GO
/****** Object:  StoredProcedure [dbo].[seleccionarRaza]    Script Date: 17/11/2023 1:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[seleccionarRaza]
@Nombre VARCHAR(50)
AS
SELECT * FROM vistaRazas
WHERE Nombre LIKE '%' + @Nombre + '%'
GO
USE [master]
GO
